@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-roboto-flex); /* now Tailwind font-sans = Fondamento */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}


body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-special-gothic-condensed-one), sans-serif;
    overflow-x: hidden;
}

.progress-mask {
    -webkit-mask-image: radial-gradient(closest-side, #000 99%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-composite: destination-in;
}
